<div class="container">
  <div class="row">
    <h2 class="center-align">Opiniones</h2>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <%= render 'form', opinion: @opinion %>
    </div>
  </div>
</div>
