<div class="container">
  <h1>Editar hijo</h1>
  <div class="row">
    <div class="col s8 offset-s2">
      <%= render 'form', child: @child %>
    </div>
  </div>

  <%= link_to 'Atras', children_path, class: 'waves-effect waves-light btn' %>
  <%= link_to 'Ver', @child, class: 'waves-effect waves-light btn' %>

</div>
