<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <h1>Agregar Hijo</h1>

      <%= render 'form', child: @child %>

      <%= link_to 'Atras', children_path, class: 'waves-effect waves-light btn' %>
    </div>

  </div>
</div>
