<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><strong>Nombre:</strong> <%= @user.name %></h1>
    <h2><strong>Email:</strong> <%= @user.email %> </h2>
    <h2><strong>Mensaje:</strong></h2>
    <p><%= @user.message %></p>
  </body>
</html>
