<!DOCTYPE html>
 <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
      Subject <%= @newsletter.subject %> <br>
    </p>

      <p>
      Subject <%= @newsletter.content %> <br>
     </p>
     <p>
     .<br>
     </p>

    </body>
  </html>
