<!DOCTYPE html>
 <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
    <h3> <%= @newsletter.subject %> <br></h3>  
    </p>

      <p>
       <%= @newsletter.content %> <br>
     </p>
     <p>
     .<br>
     </p>

    </body>
  </html>
