<section class="container">
  <div class="row">
    <h2 class="center-align">Editar Datos Personales</h2>
      <article class="col s8 offset-s2 z-depth-5">
        <div class="card-form">
        <%= render 'form', person: @person %>
        </div>
      </article>
  </div>
</section>
