<section class="container">
  <div class="row card-form">
    <h3 class="center-align">Datos Personales</h3>
    <article class="col s6 offset-s3 z-depth-5">
      <div class="card-form">
        <%= render 'form', person: @person %>
      </div>
    </article>
  </div>
</section>
