<section class="container">
  <div class="row">
    <h3 class="center-align">Editar Correo</h3>
    <article class="col s12">
      <%= render 'form', newsletter: @newsletter %>
      <div class="actions center-align">
          <%= link_to 'Ver', @newsletter, class:"btn waves-effect waves-light" %>
      </div>
    </article>
  </div>
</section>
