<section class="container">
  <div class="row">
    <h3 class="center-align">Nuevo Correo</h3>
    <article class="col s6 offset-s3">
      <%= render 'form', newsletter: @newsletter %>
    </article>
  </div>
</section>
