<div class="container">
    <div class="row">
      <div class="col s12">
        <h5>Asunto</h5>
        <%= @newsletter.subject %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h5>Mensaje </h5>
        <textarea name="name" class="quill_container">
          <%= @newsletter.content %>
          <!-- <script type="text/javascript">
            Quilljs.setDefaults( { toolbar: false });
          </script> -->
        </textarea>
        </div>
      </div>
    </div>
</div>

<div class="col s10">
  <div class="center-align">
    <%= link_to 'Atras', newsletters_path, class:"btn waves-effect waves-light" %>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Editar', edit_newsletter_path(@newsletter), class:"btn waves-effect waves-light" %>
    <% end %>
  </div>
</div>
