
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 center-align">
        <h5 class="white-text">Universidad Nacional de Colombia</h5>
        <p class="grey-text text-lighten-4">Departamento de Ingenieria de Sistemas e Industrial</p>
        <p class="grey-text text-lighten-4">Ingenieria de Software II</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Desarrollador por</h5>
        <ul>
          <li>Cristian Cristancho</li>
          <li>Rafael Salgado</li>
          <li>Camilo Pinzón</li>
          <li>Jhon Torres</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="center-align">
        <a class="btn-floating" href="https://www.facebook.com/" target="_blank"><%= fa_icon "facebook 2x" %></a>
        <a class="btn-floating" href="https://twitter.com/" target="_blank"><%= fa_icon "twitter 2x" %></a>
        <a class="btn-floating" href="https://web.whatsapp.com/" target="_blank"><%= fa_icon "whatsapp 2x" %></a>
      </div>
    </div>
  </div>
</footer>
