<section class="container">
  <div class="row">
    <h3 class="center-align">Editar Eleccion</h3>
    <article class="col s8 offset-s2 z-depth-5">
      <div class="card-form">
        <%= render 'form', election: @election %>
        <div class="right-align">
          <%= link_to 'Ver', @election, class:"btn waves-effect waves-light" %>
        </div>
      </div>
    </article>
  </div>
</section>
