<div class="container">
  <div class="row">
    <div class="col m3"></div>
    <div class="col m7">
      <h2 class="center-align">Felicitaciones</h2>
      <img src="http://endimages.s3.amazonaws.com/cache/1f/9c/1f9c660bafcf8efde56dbaa912de8874.jpg" width="100%" alt="enviado satisfariamnete">
      <h4 class="center-align">
        El correo se ha enviado satisfatoriamente
      </h4>
      <div class="center-align">
        <a href="/" class="waves-effect waves-light btn pulse">
          <%= fa_icon "home 5x" %>
          Ir al inicio
        </a>
      </div>

    </div>
  </div>
</div>
