<section class="container">
  <div class="row">
    <h3 class="center-align"> Editar Censo </h3>
    <article class="col s8 offset-s2">
      <%= render 'form', censo: @censo %>
      <div class="right-align">
        <%= link_to 'Show', @censo, class:"btn waves-effect waves-light" %>
      </div>
    </article>
  </div>
</section>
