<section class="container">
  <div class="row">
    <h3 class="center-align">Editar datos de resguardo</h3>
    <article class="col s8 offset-s2 z-depth-5">
      <div class="card-form">
        <%= render 'form', censo: @censo %>
      </div>
    </article>
  </div>
</section>
