<section class="container">
  <div class="row">
    <h2 class="center-align">Datos Resguardo</h2>
    <article class="col s6 offset-s3 z-depth-5">
      <div class="card-form">
        <%= render 'form', censo: @censo %>
      </div>
    </article>
  </div>
</section>
