<section class="container">
  <div class="row">
    <h2 class="center-align">Datos Resguardo</h2>
    <article class="col s6 offset-s3">
      <%= render 'form', censo: @censo %>
    </article>
  </div>
</section>
