<% if user_signed_in? %>
  <% unless  @check_data == nil%>
      <section class="container">
        <div class="row card-form">
          <article class="col s8 offset-s2 z-depth-5">
            <div class="card-form">
              <h3 class="center-align">Solicitud de censo</h3>
                <h6 class="center-align">Usted ya tiene una solicitud en curso</h6>
            </div>
             <%= link_to 'Volver al inicio', root_path %>
          </article>
      </section>

    <% else%>
        <section class="container">
          <div class="row card-form">
            <article class="col s8 offset-s2 z-depth-5">
              <div class="card-form">
                <h3 class="center-align">Solicitud de censo</h3>
                <%= render 'form', request_censo: @request_censo %>
              </div>
            </article>
        </section>

    <% end%>
    <% end%>
