<section class="container">
  <div class="row card-form">
    <article class="col s8 offset-s2 z-depth-5">
      <div class="card-form">
        <h3 class="center-align">Solicitud de censo</h3>
        <%= render 'form', request_censo: @request_censo %>
      </div>
    </article>

</section>
