<div class="container">
  <div class="row">
    <div class="col m3"></div>
    <div class="col m7">
      <h4 class="center-align">
        listo
      </h4>
      <div class="center-align">
        <%= link_to :root, class: "waves-effect waves-light btn pulse" do %>
          <%= fa_icon "home 5x" %> Ir al inicio
        <% end %>
      </div>
    </div>
  </div>
</div>
