// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.striped th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.striped th .asc {
  background-image: url(up_arrow.gif);
}

.striped th .desc {
  background-image: url(down_arrow.gif);
}
