
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("blue", "base") !default;
@import 'materialize';

@import "font-awesome";
@import "material_icons";
@import 'home';
@import "events";
<<<<<<< HEAD
@import "statistics";


=======
@import "announcements";
>>>>>>> QUERIES



.pagination a li.active {
  color: #fff;
}
