@import 'materialize';

blockquote {
  font-size: 60%;
}

.logo {
  margin: auto;
  width: 300px;
}

.title {
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

.firm,
.text-body {
  padding: 50px;
}
