<div class="container">
  <div class="row">
    <h1 class="center-align">Residencia</h1>
  </div>

  <div class="row">
    <div class="col s8 offset-s2">
      <%= render 'form', residence: @residence %>
    </div>
  </div>
</div>
