<section class="container">
  <div class="row card-form">
    <article class="col s8 offset-s2 z-depth-5">
      <div class="card-form">
          <h4 class="center-align"> Su voto ha sido registrado con exito</h4>
      </div>
      <div class="center-align">
          <%= link_to 'Ir al inicio', root_path %>
      </div>

    </article>
</section>
